<div class="h-100 w-100 reset-password__container">
  <app-action-card cardLabel="Сброс пароля">
    <div class="tui-space_bottom-2">
      <div class="reset-password__account-info--normal-text">
        Придумайте новый пароль для аккаунта:
      </div>
      <div class="reset-password__account-info--bold-text">{{ email }}</div>
    </div>
    <form [formGroup]="resetPasswordForm">
      <app-password-input formControlName="password" [isValidatorsShown]="true"></app-password-input>
    </form>
    <button
            appearance="primary"
            tuiButton
            type="button"
            class="w-100"
            [disabled]="resetPasswordForm?.invalid!"
            (click)="resetPassword()"
          >
            Сбросить пароль
          </button>
  </app-action-card>
</div>
