.reset-password {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__account-info--normal-text {
        color: var(--tui-text-02);
        text-align: center;
    }

    &__account-info--bold-text {
        color: var(--tui-text-02);
        font-weight: bolder;
        text-align: center;
    }
}