.change-password {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__old-password ::ng-deep {
        tui-primitive-textfield {
            border-bottom-left-radius: unset;
            border-bottom-right-radius: unset;
        }
    }

    &__new-password ::ng-deep {
        tui-primitive-textfield {
            border-top-left-radius: unset;
            border-top-right-radius: unset;
        }  
    }

    &__form {
        min-height: 7rem;
    }
}