.change-password {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &__content {
        height: 30rem;
        width: 25rem;
    }

    &__logo{
        display: flex;
        justify-content: center;

        img {
            height: 4rem;
        }
    }

    &__paragraph {
        color: var(--tui-text-01);
        font: var(--tui-font-heading-6);
        text-align: center;
    }

    &__old-password {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    &__new-password {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    &__form {
        min-height: 7rem;
    }

    &__validators {
        .sign-up__validator:last-of-type {
            margin-bottom: 0rem;
        }
    }

    &__validator {
        display: flex;
        align-items: center;

        span {
            color: var(--tui-text-02);
        }
    }
}

@media (max-width: 380px) {
    .sign-up__content {
        height: 30rem;
        width: 25rem;
    }  
}