<div class="h-100 w-100 change-password__container">
  <app-action-card cardLabel="Смена пароля">
    <form class="change-password__form" [formGroup]="changePasswordForm">
      <app-password-input
        class="change-password__old-password"
        formControlName="oldPassword"
        inputText="Введите старый пароль:"
      ></app-password-input>
      <app-password-input
        class="change-password__new-password"
        formControlName="newPassword"
        inputText="Введите новый пароль:"
        [isValidatorsShown]="true"
      ></app-password-input>
    </form>
    <button
      appearance="primary"
      tuiButton
      type="button"
      class="w-100"
      [disabled]="changePasswordForm?.invalid!"
      (click)="changePassword()"
    >
      Изменить пароль
    </button>
  </app-action-card>
</div>
