<div class="h-100 w-100 sign-up__container">
  <app-action-card cardLabel="Регистрация пользователя">
    <form class="sign-up__form" [formGroup]="signupForm">
      <app-email-input
        [class.sign-up__email-grouped]="(isEmailChecked$ | async)!"
        formControlName="email"
        [isLoading]="(isEmailChecking$ | async)!"
        (byButtonClick)="checkEmail()"
      ></app-email-input>

      <ng-container *ngIf="(isEmailChecked$ | async)!">
        <div class="sign-up__password">
          <app-password-input
            formControlName="password"
            [isValidatorsShown]="true"
          ></app-password-input>
          <button
            appearance="primary"
            tuiButton
            type="button"
            class="w-100 sign-up__button--opacity"
            [disabled]="signupForm?.invalid!"
            (click)="registerAccount()"
          >
            Зарегистрироваться
          </button>
        </div>
      </ng-container>
    </form>
  </app-action-card>
</div>
