<div class="h-100 w-100 sign-up__container">
  <div class="sign-up__content">
    <tui-island class="tui-island--height tui-island--width">
      <div class="sign-up__logo">
        <img src="/assets/images/logotype/logotype.svg" />
      </div>
      <p class="sign-up__paragraph">Регистрация пользователя</p>
      <form class="sign-up__form" [formGroup]="signupForm">
        <div class="sign-up__email">
          <tui-input
            class="w-100"
            [class.sign-up__email-grouped]="(isEmailChecked$ | async)!"
            formControlName="email"
            tuiTextfieldSize="l"
          >
            Введите e-mail:
            <input autocomplete="new-password" tuiTextfield type="email" />
          </tui-input>
          <ng-container *ngIf="isEmailValidated">
            <button
              class="sign-up__check-email"
              tuiIconButton
              size="s"
              shape="rounded"
              icon="tuiIconArrowRightCircleLarge"
              (click)="checkEmail()"
              [showLoader]="(isEmailChecking$ | async)!"
            ></button>
          </ng-container>
        </div>
        <ng-container *ngIf="(isEmailChecked$ | async)!">
          <div class="tui-space_bottom-4">
            <tui-input-password class="sign-up__password" formControlName="password"
              >Введите пароль:</tui-input-password
            >
          </div>
          <div class="sign-up__info">
            <div class="sign-up__validators tui-space_bottom-4">
              @for (validator of passwordValidators; track validator) {
              <div class="sign-up__validator tui-space_bottom-2">
                <tui-badge
                  #badge
                  [status]="getBadgeValue(validator.pattern)"
                  value=""
                  class="tui-space_right-2"
                >
                  <tui-svg [src]="getBadgeIcon(badge.status)"></tui-svg>
                </tui-badge>
                <span>{{ validator.definition }}</span>
                <ng-container *ngIf="validator.tooltipIcon">
                  <tui-svg
                    [tuiHint]="validator.tooltipText"
                    tuiHintDescribe
                    tuiHintDirection="right"
                    [src]="validator.tooltipIcon"
                  ></tui-svg>
                </ng-container>
              </div>
              }
            </div>
            <button
              appearance="primary"
              tuiButton
              type="button"
              class="w-100"
              [disabled]="signupForm?.invalid!"
              (click)="registerAccount()"
            >
              Зарегистрироваться
            </button>
          </div>
        </ng-container>
      </form>
    </tui-island>
  </div>
</div>
