.dashboard {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__teams {
        width: 50%;
        padding-right: 0.75rem 
    }

    &__employees {
        width: 50%;
        padding-left: 0.75rem;
    }

    &__employees-container {
        height: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
    }

    &__teams-container {
        height: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
    }

    &__divider {
        width: 100%;
        border-top: 1px solid var(--tui-base-03);;
    }
}

@media (max-width: 990px) {
    .dashboard__container {
        flex-direction: column;
    }

    .dashboard__teams {
        width: 100%;
        padding-right: 0rem;
        padding-bottom: 0.75rem;
    }

    .dashboard__employees {
        width:100%;
        padding-left: 0rem;
        padding-top: 0.75rem;
    }

    .tui-island--height {
        min-height: calc(100vh - 4.5rem - 3rem - 2rem);
    }
}