:host {
    min-height: 4.5rem;
    display: flex;
    
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 4.5rem;
    background: 
        gray;
    box-shadow: 0rem 0.25rem 2rem rgba(0, 0, 0, 0.05);
}