.content {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    overflow-x: hidden !important;

    &__view-port--width {
        width: 100%;
        overflow-x: hidden !important;
        padding: 1.5rem;
    }
}
  
.footer {
    flex-shrink: 0;
    width: 100%;
}