<div class="h-100 w-100 forgot__container">
  <div class="forgot__content">
    <tui-island class="tui-island--height tui-island--width">
      <div class="forgot__logo">
        <img src="/assets/images/logotype/logotype.svg" />
      </div>
      <p class="forgot__paragraph">Восстановление пароля</p>
      @if ((isRequestSended$ | async)!) {
      <div class="forgot__request-result--normal-text"
        >На почту:
        <span class="forgot__request-result--bold-text">{{ email }}</span>
        отправлено письмо для сброса пароля</div
      >
      <div class="forgot__letter">
        <div class="letter-image">
          <div class="animated-mail">
            <div class="back-fold">
              <div class="letter">
                <div class="letter-border"></div>
                <div class="letter-title"></div>
                <div class="letter-context"></div>
                <div class="letter-stamp">
                  <div class="letter-stamp-inner"></div>
                </div>
              </div>
            </div>

            <div class="middle-body"></div>
            <div class="left-fold"></div>
          </div>
        </div>
      </div>

      } @else {
      <form class="forgot__form" [formGroup]="forgotForm">
        <div class="forgot__email">
          <tui-input class="w-100" formControlName="email" tuiTextfieldSize="l">
            Введите e-mail:
            <input autocomplete="new-password" tuiTextfield type="email" />
          </tui-input>
          <ng-container *ngIf="isEmailValidated">
            <button
              class="forgot__check-email"
              tuiIconButton
              size="s"
              shape="rounded"
              icon="tuiIconArrowRightCircleLarge"
              (click)="checkEmail()"
              [showLoader]="(isEmailChecking$ | async)!"
            ></button>
          </ng-container>
        </div>
      </form>
      <ng-container *ngIf="(isEmailChecked$ | async)!">
        <button
          appearance="primary"
          tuiButton
          type="button"
          class="w-100 tui-space_top-4 forgot__request-button"
          [disabled]="!(isEmailChecked$ | async)!"
          (click)="sendRequest()"
        >
          Отправить запрос
        </button>
      </ng-container>

      }
    </tui-island>
  </div>
</div>
