<div class="h-100 w-100 forgot__container">
  <app-action-card cardLabel="Восстановление пароля">
    @if ((isRequestSended$ | async)!) {
    <div class="forgot__request-result--normal-text">
      На почту:
      <span class="forgot__request-result--bold-text">{{ email }}</span>
      отправлено письмо для сброса пароля
    </div>
    <div class="forgot__letter">
      <div class="letter-image">
        <div class="animated-mail">
          <div class="back-fold">
            <div class="letter">
              <div class="letter-border"></div>
              <div class="letter-title"></div>
              <div class="letter-context"></div>
              <div class="letter-stamp">
                <div class="letter-stamp-inner"></div>
              </div>
            </div>
          </div>

          <div class="middle-body"></div>
          <div class="left-fold"></div>
        </div>
      </div>
    </div>

    } @else {
    <form [formGroup]="forgotForm">
      <app-email-input
        formControlName="email"
        [isLoading]="(isEmailChecking$ | async)!"
        (byButtonClick)="checkEmail()"
      ></app-email-input>
    </form>
    <ng-container *ngIf="(isEmailChecked$ | async)!">
      <button
        appearance="primary"
        tuiButton
        type="button"
        class="w-100 tui-space_top-4 forgot__request-button"
        [disabled]="!(isEmailChecked$ | async)!"
        (click)="sendRequest()"
      >
        Отправить запрос
      </button>
    </ng-container>

    }
  </app-action-card>
</div>
