.password-input {
    &__validators {
        .password-input__validator:last-of-type {
            margin-bottom: 0rem;
        }
    }

    &__validator {
        display: flex;
        align-items: center;

        span {
            color: var(--tui-text-02);
        }
    }

    &__input-icon {
        cursor: pointer;
    pointer-events: auto;
    }
}