/* You can add global styles to this file, and also import other style files */
:root {
    --header_height: 4.5rem;
}

.t-root-content {
    min-height: 100vh;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
}

.t-bar_vertical {
    top: 3rem !important;
}

.tui-island--height {
    height: calc(100% - 2rem);
}

.tui-island--width {
    width: calc(100% - 2rem);
}

.rc-anchor  {
    border-radius: 10px !important;
}

@for $i from 0 through 100 {
    .w-#{$i} { width: #{$i}#{"%"} }
}
  
@for $i from 0 through 100 {
    .h-#{$i} { height: #{$i}#{"%"} }
}