.sign-in {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &__form {
        min-height: 7rem;
    }

    &__email-grouped ::ng-deep {
        tui-primitive-textfield {
            border-bottom-left-radius: unset;
            border-bottom-right-radius: unset;
        }
    }

    &__password ::ng-deep {
        opacity: 0;
        transform: translateY(-100%);
        animation: animation 0.5s forwards;

        tui-primitive-textfield {
            border-top-left-radius: unset;
            border-top-right-radius: unset;
        }
    }

    &__alternative-options {
        display: flex;
        justify-content: space-between;        
    }

    &__divider {
        position: relative;
        margin-bottom: 1rem;

        &-text {
            position: absolute;
            left: calc(50% - 1.375rem);
            top: -0.875rem;
            padding: 0rem 0.5rem;
            color: var(--tui-text-02);
            background: var(--tui-base-01);
        }
    }

    &__create-account {
        text-decoration: underline;
        cursor: pointer;
        border: none;
        background: none;
        color: var(--tui-text-02);
    }

    &__recovery-password {
        text-decoration: underline;
        cursor: pointer;
        border: none;
        background: none;
        color: var(--tui-text-02);
    }

    &__recovery-password:hover {
        color: var(--tui-text-01);
    }
}
  
@keyframes animation {
    0% {transform: translateY(-100%); opacity: 0;}
    50% {transform: translateY(-75%); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}