<div class="h-100 w-100 sign-in__container">
  <app-action-card cardLabel="Вход">
    <form class="sign-in__form" [formGroup]="signinForm">
      <app-email-input
        [class.sign-in__email-grouped]="(isEmailChecked$ | async)!"
        formControlName="email"
        [isLoading]="(isEmailChecking$ | async)!"
        (byButtonClick)="checkEmail()"
      ></app-email-input>

      <ng-container *ngIf="(isEmailChecked$ | async)!">
        <div class="sign-in__password">
          <app-password-input formControlName="password"></app-password-input>
        </div>
      </ng-container>
    </form>
    <button
      appearance="primary"
      tuiButton
      type="button"
      class="w-100 tui-space_top-4 tui-space_bottom-4"
      [disabled]="signinForm.invalid"
    >
      Войти
    </button>

    <div class="sign-in__divider">
      <hr />
      <span class="sign-in__divider-text">или</span>
    </div>
    <div class="tui-space_bottom-4">
      <button
        appearance="secondary"
        tuiButton
        [iconRight]="googleIcon"
        type="button"
        class="w-100 sign-in__signin-google"
      >
        Войти через
      </button>
    </div>
    <div class="sign-in__alternative-options">
      <button class="sign-in__create-account" (click)="createAccount()">
        Создать аккаунт
      </button>

      <button class="sign-in__recovery-password" (click)="recoverPassword()">
        Забыли пароль?
      </button>
    </div>
  </app-action-card>
</div>

<ng-template #googleIcon>
  <img class="tui-space_left-2" src="/assets/images/icon/google.ico" />
</ng-template>
